*{
    padding: 0;
    margin: 0;
}

body{
    background-color: papayawhip;
}

.navbar{
    /* background-color: none; */
    height: 5em;
}
.text-center{
    margin-top: 6px;
    color: rgb(7, 7, 110);
    font-size: 28px;
    font-family: fantasy;
}
.d-flex{
    /* float: right; */
    /* margin-right: 0; */
    margin-left: 20%;
}


img{
    max-height: 100%;
    max-width: 100%;
    /* margin-left: 8%; */
    /* margin-top: 11px; */
}
/* .logo{
    height: 10%;
} */
/* #quotes{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(7, 7, 110);
    margin-left: 30%;
    margin-top: 50px;
} */

/* .myMargin{
    margin-top: 30px;
    margin-left: 150px;
} */

.loginForm{
    margin-left: 100px;
    margin-top: 50px;
}

.signupForm{
    margin: 100px;
}

.form-text{
    color: red;
   
    font-size: 13px;
}
#redd{
    color: red;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

.footer1{

    background-color: rgb(52, 196, 117);
    color: #fff;
    text-align: center;
    height: 4.5em;
    margin-top: 2px;
}

.card-body{
    /* border: 3px solid white; */
    /* width: 21%; */
    /* float: left; */
    /* margin-left: 10px; */
    padding: 10px;
    /* height: 16em; */
    /* background-color: rgb(143, 148, 155); */
}

.text-lg-center{

    color: blueviolet;
    margin: 10px;
}

.end{
    padding-left:10px ;
    color: rgb(6, 41, 77);
}

h3{
    color: rgb(40, 124, 219);
}

.text-justify{
    margin: 20px;
}

.btn-group{
    margin-left: 50px;
}
