*{
    padding: 0;
    margin: 0;
}

body{
    background: cover;
}

.navbar{
    /* background-color: none; */
    height: 5em;
}
.text-center{
    margin-top: 6px;
    color: rgb(7, 7, 110);
    font-size: 28px;
    font-family: fantasy;
}
.d-flex{
    /* float: right; */
    /* margin-right: 0; */
    margin-left: 20%;
}


img{
    max-height: 100%;
    max-width: 100%;
  
}
/* login form */

.loginForm{
    border: solid rgb(24, 24, 192) 2px;
    background-color: rgb(118, 194, 230);

    margin-left: 430px;
    margin-top: 35px;
    margin-bottom: 10px;
    margin-right: 430px;
    padding-top: 33px;
    padding-left: 40px;
    padding-right: 25px;
    padding-bottom: 20px;
    /* padding-left: 200px; */
}

.btn{
    /* float: center; */
    margin-left: 60px;
}
.refLink{
    text-decoration: none;
}
/* end of login form */


/* signup form */
.signupForm{
    border: solid rgb(24, 24, 192) 2px;
    background-color: rgb(118, 194, 230);
    margin-left: 400px;
    margin-top: 35px;
    margin-bottom: 10px;
    margin-right: 380px;
    padding-top: 33px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;

}
.signText{
    text-align: center;
    /* font-weight: bold; */
    font-size: 24px;
    color: rgb(7, 11, 14);

}
.signupButton{
    margin-left: 120px;
}
/* .form-text{
    color: red;
   
    font-size: 13px;
}
#redd{
    color: red;
} */


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

.footer1{

    background-color: rgb(52, 196, 117);
    color: #fff;
    text-align: center;
    height: 4.5em;
    margin-top: 2px;
}

.card-body{
    /* border: 3px solid white; */
    /* width: 21%; */
    /* float: left; */
    /* margin-left: 10px; */
    padding: 10px;
    /* height: 16em; */
    /* background-color: rgb(143, 148, 155); */
}

.text-lg-center{

    color: blueviolet;
    margin: 10px;
}

.end{
    padding-left:10px ;
    color: rgb(6, 41, 77);
}

h3{
    color: rgb(40, 124, 219);
}

.text-justify{
    margin: 20px;
}

.btn-group{
    margin-left: 50px;
}

